<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='//localhost:3000/style/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
	 <div id="main" style="width: 600px;height:400px;"></div>
  </body>
  <script type="text/javascript" src="//localhost:3000/js/index.js">
  </script>
</html>
